/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  background-color: #333;
  color: #fff;
  padding: 0.3rem;
}

.titleTag {
  font-size: 1.3em;
  font-weight: lighter;
  text-align: left;
}

.side-by-side {
  display: flex;
  flex: 1;
}

.container {
  flex: 1;
  padding: 1rem;
  overflow-y: auto;
  border: 1px solid #ccc;
}

#deck-container {
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #ccc;
  padding: 10px;
  width: 150px;
}

#working-area {
  background-color: #e1e2de;
  position: relative; /* Allows absolute positioning of cards */
  transition: border-color 0.3s ease;
}

.DeckTag, .WorkingTag {
  font-size: 1em;
  font-weight: lighter;
  text-align: left;
  border-bottom: 1px solid gray;
}

/* Card Styles */
.card {
  width: 100%; /* Fill grid cell */
  padding-top: 66.66%; /* Maintain a 3:2 aspect ratio */
  position: relative; /* Required for inner content positioning */
  background-color: white;
  border: 1px solid #333;
  
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  color: #333;
}

/* Card hover effect */
.card:hover {
  background-color: #c5d8d6;
 
}

/* Free positioning for the working area */
#working-area .card {
  position: absolute;
  width: 150px;
  height: calc(150px * 2 / 3); /* Maintain 3:2 ratio */
}

/* Modal Styles */
.modal {
  display: none; /* Initially hidden */
  position: fixed; /* Fixed to the viewport */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000; /* Ensures the modal appears above everything else */
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 2px;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 0;
}

.modal-content {
  position: relative;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  max-width: 400px;
  text-align: center;
}

/* Add styles for card content inside modal */
#modal-card-content {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

/* Style the flip button inside modal */
#flip-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}

#flip-button:hover {
  background-color: #0056b3;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 1.5rem;
}

body.modal-open {
  overflow: hidden; /* Prevent background scrolling when modal is open */
}

/* Sticky Footer */
.sticky-footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 0.5rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footertag {
  font-size: 0.6em;
  text-align: right;
  margin-right: 10px;
}

/* Highlight drop areas when card is being dragged over */
.drop-highlight {
  border-color: #007bff;
}

/* Piles Styling */
#essential-pile,
#significant-pile,
#relevant-pile {
  border: 1px solid #a1ad39;
  height: 200px;
  width: 97%;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f0f0f0;
}

/* Shuffle button styling */
#shuffle-button {
  background-color: #e2e0d7;
  color: #a1ad39;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin-bottom: 10px;
}

#shuffle-button:hover {
  background-color: #0056b3;
}

.card-stack {
  text-align: center;
  margin-top: 10px;
}
